<!--menú de navegación, sin href-->  
<app-barra-navegacion></app-barra-navegacion>

<!--Este componente nativo hace que el enrutador cargue una página dinámicamente-->  
<router-outlet></router-outlet>  

<!--
<app-enlace-adatos></app-enlace-adatos>

<app-directivas-estructurales></app-directivas-estructurales>

<app-componente-con-entrada-salida [atributoEntrada]="'Paso esto al componente'"
[numeroEntrada]="33" (lanzaEvento)="capturaEvento($event)"></app-componente-con-entrada-salida>

<app-login-facebook></app-login-facebook>

<app-peticion-ajaxsin-servicio></app-peticion-ajaxsin-servicio>

<app-usar-servicio></app-usar-servicio>
-->